@font-face{
  font-family: overseer;
  src: url('../font/overseer/Overseer Bold Italic.otf');
}
@font-face{
  font-family: xenogears;
  src: url('../font/xenogears/Xenogears_font.ttf');
}
@font-face{
  font-family: futurism;
  src: url('../font/futurism/futurism.ttf');
}
@font-face{
  font-family: xracer;
  src: url('../font/xracer/xracer.ttf');
}

html{
  // overflow-y: auto;
}
